<% include ../header %>
    <script src="../../node_modules/socket.io/lib/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"/>
    <script>
        var socket = io.connect('http://localhost:3000');
        socket.on('send-client', function (msg) {
            document.getElementById('chat').innerHTML += msg;
        });
        var enviar = function() {
            var nome = document.getElementById('nome').value;
            var msg = document.getElementById('msg').value;
            socket.emit('send-server', {
                nome: nome,
                msg: msg
            });
        };
    </script>
    <header>
        <h2>Ntalk - Chat</h2>
    </header>
    <section>
        <pre id="chat"></pre>
        <input type="hidden" id="nome" value="<%- usuario.nome %>">
        <input type="text" id="msg" placeholder="Mensagem">
        <button onclick="enviar();">Enviar</button>
    </section>
<% include ../exit %>
<% include ../footer %>
