<form action="/entrar" method="post">
    <input type="text" name="nome" placeholder="Nome" class="form-control"/>
    <input type="text" name="email" placeholder="E-mail" class="form-control"/>
    <button type="submit">Entrar</button>
</form>