<!DOCTYPE html>
<html>
<% include ./header %>
<body>
    <header>
        <h1>Projeto</h1>
    </header>
    <section>
        <h4>Bem-vindo! <%- usuario.nome %></h4>
        <% include ./form %>
    </section>
<% include ./exit %>    
<% include ./footer %>
</body>
</html>
