<!DOCTYPE html>
<html>
<% include ./header %>
<body>
    <header>
        <h1>Projeto</h1>
        <h4>Bem-vindo!</h4>
    </header>
    <section>
        <% include ./form %>
    </section>
<% include ./footer %>
</body>
</html>
